@font-face {
    font-family: logo-font;
    src: url(./resources/Fira_Mono/FiraMono-Regular.ttf);
}

html, body{
    padding: 0;
    margin: 0;
}

input{
    width: 250px;
    height: 30px;
    border: 0.5px solid gray;
    border-radius: 5px;
}

input:focus{
    border: 2px blue solid;
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-wrap:wrap;
}

.image-container{
    flex: 1 1 0;
    display: flex;
    background-image: url(./resources/Statue.png);
    background-color: rgb(178, 34, 52);
}

.logo-container{
    flex: 1 1 0;
    margin-top: 300px;
    display: flex;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.9);
    min-width: 500px;
}

.form-wrapper{
    flex: 2.5 1 0;
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.hook-container{
    flex: 1.1 1 0;
    background-color: rgba(60, 59, 110);
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 50px;
    padding-top: 5px;
}

.hook{
    color: white;
    font-size: 48px;
    font-family: "Roboto", monospace;
}

.form-container {
    flex: 1.2 1 0;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 50px;
}

.sign-up-hook{
    font-size: 32px;
    font-family: "Roboto",monospace;
    margin-bottom: 30px;
}

form{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    max-height: 300px;
}

label {
    font-family: "Roboto", monospace;
    font-size: 24px;
}

.row{
    display:flex;
    gap: 60px;
}

.pair{
    display: flex;
    flex-direction: column;
}

.login-container {
    flex: 1 1 0;
    background-color: rgba(60, 59, 110);
    padding-top: 50px;
    padding-left: 50px;
}

button{
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(220, 34, 52);
    border-radius: 10px;
    padding: 15px 60px;
    border:none;
}

.sign-in{
    color: white;
    font-size: 28px;
    font-family: "Roboto", monospace;
    margin-top: 25px;
}

a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

a{
    color: rgb(220, 34, 52);
    font-weight: 900;
}

.company-name{
    color: white;
    font-size: 72px;
    flex: 1 1 0;
    font-family: logo-font, apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 17px;
    min-width: 330px;
    letter-spacing: -7px;
}

.company-name{
    animation: glitch 3s linear infinite;
  }
  
@keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
}
  
.company-name:before,
.company-name:after{
    content: attr(title);
    position: absolute;
    left: 10;
}
  
.company-name:before{
    animation: glitchTop 3s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
  
@keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
}
  
.company-name:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}
  
@keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
}

